@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-50 dark:bg-gray-500;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 border border-gray-100 rounded-lg dark:bg-gray-800 dark:border-gray-700;
  }
}

/* Flowbite React Alert */
div[data-testid='flowbite-alert-wrapper'] + div {
  display: grid;
  place-items: center;
}

.text--artist,
.text--title,
.text--desc {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #1f2937;
}

.dark .text--artist,
.dark .text--title,
.dark .text--desc {
  color: #ffffff;
}

.text--artist::after {
  content: '–';
  position: relative;
  top: -1px;
  margin-left: 4px;
  color: #d1d5db;
}

.text--title::before {
  content: '｢';
  position: relative;
  top: -1px;
  margin-right: 1px;
  transform: rotate(0.03deg);
}
.text--title::after {
  content: '｣';
  position: relative;
  top: 0;
  margin-left: 1px;
  transform: rotate(-0.03deg);
}

.text--desc {
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.text--desc::before {
  content: '(';
  position: relative;
  top: -1px;
  margin-right: 2px;
}
.text--desc::after {
  content: ')';
  margin-top: -1px;
  margin-left: 2px;
}
